/* Post Container Styling */
.post-container {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; /* Ensure everything inside is centered */
  overflow: hidden;
  margin: 10px; /* Margin for spacing between posts */
  padding: 20px; /* Added padding for overall container */
  text-align: center; /* Ensure text inside is centered */
}

/* Event name wrapper to add specific margin inside the container */
.event-name-wrapper {
  margin-bottom: 15px; /* Bottom margin for spacing */
}

/* Event name styling */
.event-name {
  font-size: 20px;
  font-weight: bold;
  margin: 0; /* Ensure no additional margin here */
}

/* Genres styling */
.event-genres {
  font-size: 12px;
  color: grey;
  margin-bottom: 15px; /* Added bottom margin for spacing */
}

/* Event time styling */
.event-time {
  font-size: 12px;
  color: grey;
  margin-bottom: 15px; /* Added bottom margin for spacing */
}

/* Suggested donation styling */
.event-donation {
  font-size: 12px;
  color: grey;
  margin-bottom: 15px; /* Added bottom margin for spacing */
}

/* Visibility info styling */
.event-visibility {
  color: red;
  font-size: 12px;
  margin-top: 15px;
}

/* Date Overlay Styling */
.date-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px; /* Added margin for spacing */
}

.date-overlay .day {
  font-size: 14px;
  font-weight: bold;
}

.date-overlay .date {
  font-size: 18px;
  font-weight: bold;
}

.date-overlay .month {
  font-size: 14px;
  color: grey;
}

/* Image Container */
.post-image-container {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: #f0f0f0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px; /* Match the container's border radius */
}

.post-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease-in-out; /* Smooth zoom transition */
}

/* Zooms the image on hover */
.post-container:hover .post-image {
  transform: scale(1.025); /* Slight zoom */
}

/* Link Overlay */
.post-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 4;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease-in-out;
}

.post-container:hover .post-link {
  opacity: 0.5;
}

.placeholder {
  color: #888;
  font-size: 14px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}




